/* .App {
  height: 100vh;
  width: 100vw;
  position: relative;
} */

.App {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.outerDiv {
  position: relative;
  height: 100%;
  width: 100%;
}

.App .mainWallpaper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.loadingScreen {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  height: 100vh;
  justify-content: center;
  background-color: black;
}