.DisplayMenuactive{
    border: 1px solid var(--primary-opp);
    height: 120px;
    box-shadow: 0 0 10px -5px var(--primary-opp);
}

.DisplayMenu{
    visibility: hidden;
}

.Display{
    position: absolute;
    height: 120px;
    width: 200px;
    background-color: var(--secondary-color);
    left: 102%;
    bottom: 80%;
    overflow: hidden;
    z-index: 2;
    /* border: none; */
    transition: var(--fast-transition);
}

.Display .DisplayButtons{
    width: 100%;
    padding: 5px 5px 5px 10px;
    margin: 5px 0;
}
.Display .DisplayButtons:hover{
    background-color: var(--primary-color-hover);
}
.Display .DisplayButtons span{
margin-left: 10px;
font-size: .8rem;
}