.powerOn {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* .powerOn:first-child:hover {
    cursor: pointer;
} */