.StartMenu {
    position: absolute;
    width: 40rem;
    background-color: var(--secondary-color);
    left: 0;
    bottom: 100%;
    transition: var(--fast-transition) ease-in;
    height: 0rem;
    display: grid;
    grid-template-columns: min-content .4fr auto;
    grid-template-rows: 1fr;
    overflow: hidden;
    box-shadow: 10px -10px 20px -15px var(--primary-opp);
}

.StartMenuactive {
    height: calc(29rem + 5vh);
    padding-top: 5px;

}

.StartMenu .options {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 40px;
    transition: var(--slow-transition);
    overflow: hidden;
}

.StartMenu .options:hover {
    width: 200px;
    box-shadow: 0 0 10px -5px var(--primary-opp);
}

.StartMenu .options .opt {
    padding: 13px 15px;
    position: relative;
    width: 200px;
    font-size: 1.1rem;
}

.StartMenu .options .opt:hover {
    background-color: var(--primary-color-hover);
}

.StartMenu .options .opt span {
    margin-left: 20px;
    font-size: .8rem;
}

.StartMenu .list {
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px;
}

.StartMenu ::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
}

.StartMenu ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.StartMenu .list .app {
    width: 100%;
    margin: 5px 5px 3px 5px;
    padding: 5px 10px;
}

.StartMenu .list .app:hover {
    background-color: var(--primary-color-hover);
}

.StartMenu .list .app img {
    width: 30px;
    margin-right: 20px;
}


/* addition */
.StartMenu:focus {
    outline: none;
}