.global-box{
    background-color: #232425;
    width: 17rem;
    height: 27rem;
    position: absolute;
    bottom: 40px;
    color: white;
    right: 0;
    padding: 10x;
}

/* .global-box.nn{
    display: none;
} */
.wifiConnect{
    background-color: #a24916;
    padding: 10px 10px;

}
.headWifi{
    display: flex;
    position: relative;
    height: 7rem;

}
.headWifi div a{
    color: #c99679;
}
.headWifi div a:hover{
    color: white;
}
.disConnectBtn{
    background-color: #b56e45;
    position: absolute;
    color: white;
    right: 1rem;
    border: 0;
    padding: 5px 25px;
    top: 6rem;
}